@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400&display=swap");

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	height: 100%;
	font-family: "Open Sans";
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/* HEADER */
.header {
	background-color: #2c3948;
	min-height: 100vh;
	background-image: url("../img/hero/hero_background.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
.header__container {
	max-width: 970px;
	margin: 0 auto;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 70px;
}
.header__info h1 {
	color: #fff;
	text-align: center;
	font-family: "Bebas Neue";
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 5.709px;
}
.header__info p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.header__scrol {
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 3.7px;
	text-decoration: none;

	transition: all 0.5s;
	animation-name: scale;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}
.header__scrol:hover {
	transition: all 0.5s;
	scale: 1.2;
	animation: pause;
}

.main {
}

/* MAIN MENU */
.menu {
}
.menu__container {
	padding: 24px 15px;
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu__logo {
	width: 80px;
	height: 18px;
	background-image: url("../img/hero/logo-menu.svg");
	background-repeat: no-repeat;
	display: block;
	background-position: center;
	background-size: 80px 18px;
}

.menu__nav {
}
.menu__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	flex-wrap: wrap;
}
.menu__item {
	flex: 1;
}
.menu__link {
	text-decoration: none;
	color: #48555b;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.091px;
	transition: color 0.3s;
}
.menu__link:hover {
	color: #00a4e5;
}

/* STORY */
.story {
	padding: 0 0 118px 0;
}
.story__container {
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 57px 15px 0 15px;
}
.story__main-title {
	position: relative;
	color: #48555b;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.306px;
	padding-bottom: 88px;
}
.story__main-title::before {
	position: absolute;
	content: "";
	height: 2px;
	width: 50px;
	background: #00a4e5;
	top: 28px;
	right: 50%;
	transform: translateX(50%);
}
.story__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	/* text-align: center; */
}
.story__text {
	flex: 1;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.story__title {
	max-width: 405px;
	color: #48555b;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.188px;
}
.story__span-title {
	color: #16ace8;
}
.story__paragraph {
	max-width: 405px;
	min-width: 250px;
	color: #48555b;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.77;
	letter-spacing: 0.188px;
}
.story__images {
	flex: 1;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.story__item {
	background-color: #daf2fe;
	flex: 1;
	padding: 16px;
	min-width: 140px;
	background-repeat: no-repeat;
	min-height: 160px;
}
.story__item--1 {
	background-image: url("../img/story/wePlan.png");
	background-position: top right;
	background-size: cover;
}
.story__item--2 {
	background-image: url("../img/story/weManage.png");
	background-size: cover;
	background-position: 50% 45%;
}
.story__item--3 {
	background-image: url("../img/story/weBuild.png");
	background-size: cover;
	background-position: top right;
}
.story__item-text {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 0.188px;
}

/* ANIMATIONS */
.animation__scale {
	animation-name: scale;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transition: font-weight 0.3s, scale 0.3s;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

@keyframes scale {
	from {
		scale: 1;
	}
	to {
		scale: 1.2;
	}
}

/* SERVICES */
.services {
}

.services__container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}
.services__top {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding-bottom: 75px;
	gap: 20px;
	flex-wrap: wrap;
}
.services__title {
	color: #48555b;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.306px;
}
.services__left-block {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: end;
	gap: 20px;
}
.services__paragraph {
	color: #48555b;
	font-size: 11px;
	font-weight: 400;
	line-height: 19px; /* 172.727% */
	letter-spacing: 0.2px;
	max-width: 405px;
}
.services__btn {
	background: #00a4e5;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	padding: 11px 29px;
	min-width: 150px;
}
.services__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 28px;
}
.services__item {
	flex: 1;
	background: #fff;
	border: 1px solid #e6e6e6;
	padding: 40px 20px 40px;
}
.services__item-icon {
	margin-bottom: 25px;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center;
}
.services__item-icon--1 {
	background-image: url("../img/services/01.svg");
}
.services__item-icon--2 {
	background-image: url("../img/services/02.svg");
}
.services__item-icon--3 {
	background-image: url("../img/services/03.svg");
}
.services__item-title {
	color: #48555b;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.427px;
	margin-bottom: 13px;
}
.services__item-paragraph {
	color: #48555b;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.77;
	letter-spacing: 0.188px;
}
