@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400&display=swap");

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
.html {
	scroll-behavior: smooth;
}
body {
	height: 100%;
	font-family: "Open Sans";
	/* pointer-events: none; */
}
.wrapper {
	/* position: relative; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
/* HEADER */

.hero {
	background-color: #2c3948;
	min-height: 100vh;
	background-image: url("../img/hero/hero_background.webp");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
}
.hero__container {
	max-width: 970px;
	margin: 0 auto;
	height: 100cqh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 70px;
}

.hero__info h1 {
	color: #fff;
	text-align: center;
	font-family: "Bebas Neue";
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 5.709px;
}
.hero__info p {
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.hero__scroll {
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 3.7px;
	text-decoration: none;

	transition: all 0.5s;
	animation-name: scale;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}
.hero__scroll:hover {
	transition: all 0.5s;
	scale: 1.2;
	animation: pause;
}

.main {
}

/* MAIN MENU */
.menu {
	width: 100%;
	z-index: 10;
	background-color: #fff;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	transition: box-shadow 0.2s ease-in-out;
}

.menu__scrolled {
	position: fixed;
	top: 0;
	/* left: 50%; */
	/* transform: translateX(-50%); */
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
	/* transition: box-shadow 0.4s ease-in-out, top 0.4s; */
}

.menu__container {
	padding: 24px 15px;
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.menu__logo {
	width: 80px;
	height: 18px;
	background-image: url("../img/hero/logo-menu.svg");
	background-repeat: no-repeat;
	display: block;
	background-position: center;
	background-size: 80px 18px;
}

.menu__nav {
}
.menu__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	flex-wrap: wrap;
}
.menu__item {
	flex: 1;
}
.menu__link {
	text-decoration: none;
	color: #48555b;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 1.091px;
	transition: color 0.3s;
}
.menu__link:hover {
	color: #00a4e5;
}

/* STORY */
.story {
}
.story__container {
	max-width: 970px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 57px 15px 0 15px;
}
.story__main-title {
	position: relative;
	color: #48555b;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.306px;
	padding-bottom: 88px;
}
.story__main-title::before {
	position: absolute;
	content: "";
	height: 2px;
	width: 50px;
	background: #00a4e5;
	top: 28px;
	right: 50%;
	transform: translateX(50%);
}
.story__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	/* text-align: center; */
}
.story__text {
	flex: 1;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.story__title {
	max-width: 405px;
	color: #48555b;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.188px;
}
.story__span-title {
	color: #16ace8;
}
.story__paragraph {
	max-width: 405px;
	min-width: 250px;
	color: #48555b;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.77;
	letter-spacing: 0.188px;
}
.story__images {
	flex: 1;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
.story__item {
	background-color: #daf2fe;
	flex: 1;
	padding: 16px;
	min-width: 140px;
	background-repeat: no-repeat;
	min-height: 160px;
}
.story__item--1 {
	background-image: url("../img/story/wePlan.png");
	background-position: top right;
	background-size: cover;
}
.story__item--2 {
	background-image: url("../img/story/weManage.png");
	background-size: cover;
	background-position: 50% 45%;
}
.story__item--3 {
	background-image: url("../img/story/weBuild.png");
	background-size: cover;
	background-position: top right;
}
.story__item-text {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 0.188px;
}

/* ANIMATIONS */
.animation__scale {
	animation-name: scale;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transition: font-weight 0.3s, scale 0.3s;
	animation-direction: alternate;
	animation-timing-function: ease-out;
}

@keyframes scale {
	from {
		scale: 1;
	}
	to {
		scale: 1.2;
	}
}

/* SERVICES */
.services {
	padding-top: 118px;
}

.services__container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
}
.services__top {
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding-bottom: 75px;
	gap: 20px;
	flex-wrap: wrap;
}
.services__title {
	color: #48555b;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.306px;
}
.services__left-block {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: end;
	gap: 20px;
}
.services__paragraph {
	color: #48555b;
	font-size: 11px;
	font-weight: 400;
	line-height: 19px; /* 172.727% */
	letter-spacing: 0.2px;
	max-width: 405px;
}
.services__btn {
	background: #00a4e5;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	padding: 11px 29px;
	min-width: 150px;
}
.services__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 28px;
}
.services__item {
	flex: 1;
	background: #fff;
	border: 1px solid #e6e6e6;
	padding: 40px 20px 40px;
}
.services__item-icon {
	margin-bottom: 25px;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center;
}
.services__item-icon--1 {
	background-image: url("../img/services/01.svg");
}
.services__item-icon--2 {
	background-image: url("../img/services/02.svg");
}
.services__item-icon--3 {
	background-image: url("../img/services/03.svg");
}
.services__item-title {
	color: #48555b;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.427px;
	margin-bottom: 13px;
}
.services__item-paragraph {
	color: #48555b;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.77;
	letter-spacing: 0.188px;
}

/* TOUCH */
.touch {
	padding-top: 235px;
	background-image: url("../img/touch/43cb5b04fc1cbc2392456c0c0cb836a7.png");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 50vh;
}
.touch__container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 35px;
}
.touch__title {
	color: #48555b;
	text-align: center;
	font-family: OpenSans;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px; /* 120% */
	letter-spacing: 0.15px;
	max-width: 350px;
}
.touch__button {
	background: #00a4e5;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	padding: 11px 29px;
	min-width: 150px;
	border: none;
}

/* newsletter */

.newsletter {
	background: #171819;
	padding: 30px 0;
}
.newsletter__container {
	max-width: 715px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}
.newsletter__title {
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.846px;
}
.newsletter__form {
	margin: 0;
	padding: 0;
	display: flex;
}
.newsletter__input {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
	width: 250px;
	height: 40px;

	font-family: inherit; /* 1 */
	font-size: inherit; /* 1 */
	line-height: inherit; /* 1 */
	margin: 0;
}
.newsletter__input::placeholder {
}

.newsletter__input:focus {
	/* outline:thick double #32a1ce; */
}
.newsletter__input:active {
}

.newsletter__input:invalid {
}

.newsletter__button {
	margin: 0;
	padding: 0;
	display: block;
	background: #00a4e5;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: normal;
	text-decoration: none;
	padding: 11px 29px;
	min-width: 150px;
	border: none;
	cursor: pointer;
}

/* FOOTER */

.footer {
	padding-top: 40px;
	background: #141a20;
	color: #fff;
}
.footer__container {
	max-width: 970px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	column-gap: 20px;
	flex-wrap: wrap;
	row-gap: 50px;
}
.footer__company {
}
.company {
	max-width: 250px;
}
.company__title {
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.846px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.company__logo {
	width: 102px;
	height: 24px;
	background: url("../img/hero/logo.svg") center no-repeat;
	margin-bottom: 15px;
}
.company__paragraph {
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	line-height: 19px; /* 172.727% */
	letter-spacing: 0.85px;
}

.footer__links {
}

.links {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.links__title {
	padding-bottom: 15px;
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.846px;
}
.links__content {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.links__list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.links__item {
}
.links__link {
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	line-height: 25px; /* 227.273% */
	letter-spacing: 0.846px;
}

.footer__contacts {
}
.contacts {
}
.contacts__title {
	color: #fff;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.846px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.contacts__address {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px; /* 145.455% */
	letter-spacing: 0.846px;
}
.contacts__mail {
	color: #fff;
	text-decoration: none;
}
.contacts__tel {
	color: #fff;
	text-decoration: none;
}
.footer__social {
	gap: 25px;
	display: flex;
}
.social {
	display: block;
	width: 15px;
	height: 15px;
	background: #00a4e5;
	transition: scale 0.3s ease-in-out;
}
.social:hover {
	scale: 1.2;
}
.facebook {
	background: url("../img/social/fb.svg") no-repeat left;
}
.twitter {
	background: url("../img/social/x.svg") no-repeat center;
}
.google {
	background: url("../img/social/google.svg") no-repeat right;
}

.footer__copyright {
	margin-top: 40px;
	background: #171819;
	padding: 22px 15px;
	text-align: center;
	color: #fff;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.846px;
}

@media (max-width: 1280px) {
	.touch {
		padding-top: 90px;
	}
}

@media (max-width: 700px) {
	.newsletter__container {
		flex-direction: column;
		justify-content: center;
	}
	.touch {
		padding-top: 90px;
	}
}

@media (max-width: 450px) {
	.newsletter__form {
		flex-direction: column;
		justify-content: center;
		gap: 20px;
	}
}
.hide {
	display: none;
	opacity: 0;
}

.overflow-hidden {
	overflow: hidden;
}

/* MUSIC BLOCK */
.music_block {
	position: fixed;
	bottom: 10px;
	left: 10px;
	scale: 0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.music__text {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 0.846px;
	text-transform: uppercase;
	margin-bottom: 20px;
	opacity: 0.5;
	transition: opacity 0.8s ease-in-out;
}
.music_block__loader {
	height: 40px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.music_block__stroke {
	transition: all 1s;
	border: 3px solid #ffffff4e;
}

.music_is_pause {
	display: block;
	background: #8484848d;
	height: 100%;
	width: 6px;
	border-radius: 50px;
	margin: 0 3px;
}

.music_is_pause:nth-child(1) {
	opacity: 0;
}
.music_is_pause:nth-child(2) {
	opacity: 0;
}
.music_is_pause:nth-child(3) {
	background: #7a7a7a;
}
.music_is_pause:nth-child(4) {
	background: #7a7a7a;
	transform: rotate(60deg) translateX(9px) translateY(0px);
}
.music_is_pause:nth-child(5) {
	transform: translateX(-9px) translateY(-10px) rotate(-60deg);
	background: #7a7a7a;
}
.music_is_pause:nth-child(6) {
	opacity: 0;
}
.music_is_pause:nth-child(7) {
	opacity: 0;
}

.music_is_play {
	display: block;
	background: #8484848d;
	height: 100%;
	width: 6px;
	border-radius: 50px;
	margin: 0 3px;
	animation: musicAnimate 1.2s linear infinite;
}
@keyframes musicAnimate {
	50% {
		height: 20%;
	}
	100% {
		height: 100%;
	}
}
.music_is_play:nth-child(1) {
	animation-delay: 0s;
	opacity: 1;
}
.music_is_play:nth-child(2) {
	opacity: 1;
	animation-delay: 0.3s;
}
.music_is_play:nth-child(3) {
	opacity: 1;
	animation-delay: 0.6s;
	background: #8484848d;
}
.music_is_play:nth-child(4) {
	opacity: 1;
	animation-delay: 0.9s;
	transform: translateX(0px) translateY(0px) rotate(0deg);
	background: #8484848d;
}
.music_is_play:nth-child(5) {
	opacity: 1;
	animation-delay: 0.6s;
	transform: translateX(0px) translateY(0px) rotate(0deg);
	background: #8484848d;
}
.music_is_play:nth-child(6) {
	opacity: 1;
	animation-delay: 0.3s;
}
.music_is_play:nth-child(7) {
	opacity: 1;
	animation-delay: 0s;
}

/* HUMBURGER MENU */
.hamburger {
	display: none;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	border: none;
	background: none;
	cursor: pointer;
}
.hamburger__line {
	display: block;
	width: 24px;
	height: 3px;
	background: #141a20;
	border-radius: 50px;
}

/* Animation */
.openAnimation .hamburger__line--1 {
	animation: hamburgerLine1 0.3s linear;
}
.openAnimation .hamburger__line--2 {
	animation: hamburgerLine2 0.3s linear;
}
.openAnimation .hamburger__line--3 {
	animation: hamburgerLine3 0.3s linear;
}

.closeAnimation .hamburger__line--1 {
	animation: hamburgerLine1 0.3s reverse linear;
}
.closeAnimation .hamburger__line--2 {
	animation: hamburgerLine2 0.3s reverse linear;
}
.closeAnimation .hamburger__line--3 {
	animation: hamburgerLine3 0.3s reverse linear;
}

._open .hamburger__line--1 {
	transform: translateY(8px) rotate(45deg);
}
._open .hamburger__line--2 {
	opacity: 0;
}
._open .hamburger__line--3 {
	transform: translateY(-8px) rotate(-45deg);
}

@keyframes hamburgerLine1 {
	0% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(8px);
	}
	90% {
		transform: translateY(8px) rotate(45deg);
	}
	100% {
		transform: translateY(8px) rotate(45deg);
	}
}

@keyframes hamburgerLine3 {
	0% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-8px);
	}

	90% {
		transform: translateY(-8px) rotate(-45deg);
	}
	100% {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@keyframes hamburgerLine2 {
	0% {
		opacity: 1;
	}

	40% {
		opacity: 1;
	}

	40.1% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media (max-width: 700px) {
	#menu {
	}
	.menu__nav {
		display: block;
	}
	#hamburger-btn {
		display: flex;
		z-index: 15;
	}
	.menu__logo {
		z-index: 15;
	}

	.menu__nav {
		position: fixed;
		background-color: #ffffff;
		height: 100vh;
		width: 100vw;
		top: -120%;
		right: 0;
		padding: 120px;
		z-index: 10;
		transition: all 0.3s;
	}

	.menu__list {
		flex-direction: column;
		justify-content: center;
		gap: 25px;
	}

	.menu__link {
		text-decoration: none;
		color: #48555b;
		font-size: 24px;
	}
}

/* Supplementary Classes. */
._overflow_hidden {
	overflow: hidden;
}
._hide {
	display: none;
}

._top-0 {
	top: 0;
	right: 0;
}
